# Build output
**/Debug/
**/Debug.win32/
**/Release/
**/Releas.win32/
**/.vs/

# Build and Project output Mac
**/DerivedData/
**/xcuserdata/

# VS user files
*.user

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
#*.pch

# Executables
*.exe
*.out
*.app
